html{
font-family: var(--Heebo);
line-height: 1.5;
font-size: 1.05rem;
text-rendering: optimizeLegibility;
color: var(--black);
}
header{
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://freedesignfile.com/upload/2017/01/Children-on-picture-lessons-HD-picture.jpg)
center/cover no-repeat fixed;
color: #fff;
display: flex;
flex-direction: column;
justify-content: stretch;
}
.header-top-info{
background: var(--black);
color: #fff;
display: flex;
flex-direction: column;
text-align: center;
padding: 0.6rem 0;
}
.header-top-info .row{
    margin: 0 auto;
}
.header-top-info .row